configuration {
	modes: "drun,ssh,window";
	font: "Iosevka NF 14";
	show-icons: true;
	ssh-command: "ptyxis -e {ssh-client} {host} [-p {port}]";
	timeout {
		action: "kb-cancel";
		delay:  0;
	}
	filebrowser {
		directories-first: true;
		sorting-method:    "name";
	}
}

@theme "material"
