// spawn-at-startup "waybar"
spawn-at-startup "awww-daemon"
// spawn-at-startup "swaync"
// spawn-sh-at-startup "vicinae server"
// spawn-sh-at-startup "delta-shell run"

include "input.kdl"
include "output.kdl"
include "layout.kdl"

// hotkeys pop-up at startup.
hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Imágenes/Niri/Captura del %Y-%m-%d %H-%M-%S.png"

animations {
    // off
    // slowdown 3.0
}

overview {
    workspace-shadow {
        off
    }
	zoom 0.5
}

include "rules.kdl"
include "binds.kdl"

