* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka NF", serif;
    font-size: 16px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 3px black;
}

window#waybar {
	background-color: transparent;
}

#window {
	padding-left: 4px;
	padding-right: 4px;
	margin-right: 3px;
}

#clock {
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 3px;
}

#backlight, #battery, #cpu, #memory,
#network, #pulseaudio, #wireplumber,
#idle_inhibitor, #privacy,
#temperature, #mpris {
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 3px;
	margin-right: 3px;
}

#privacy {
}
#privacy-item {
	margin: 2px 0;
	padding: 0 16px;
	color: white;
	border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.15);
}
#privacy-item.screenshare {
	background: #30c658;
}
#privacy-item.audio-in {
	background: #ffa915;
}
#privacy-item.audio-out {
	background: #1c71d8;
}

#battery icon {
	color: #ffffff;
}

#battery.charging, #battery.plugged {
	color: #26A65B;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
}

